<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
    <body>

        <table class="container">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Serie</th>
                    <th>Mother Name</th>
                    <th>Father Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="students : ${students}">
                    <td><span th:text="${students.student_id}"></span></td>
                    <td><span th:text="${students.student_name}"></span></td>
                    <td><span th:text="${students.serie}"></span></td>
                    <td><span th:text="${students.father_name}"></span></td>
                    <td><span th:text="${students.mother_name}"></span></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>